<p-dropdown
    [options]="options"
    [(ngModel)]="selectedOption"
    (onChange)="onSortingChange($event)"
    optionLabel="label"
    placeholder="Sort by"
>
    <ng-template pTemplate="selectedItem">
        <div class="flex align-items-center gap-2" *ngIf="selectedOption">
            <div class="flex items-center gap-1">
                {{ selectedOption.label }}

                <span
                    *ngIf="selectedOption.order === 'asc'"
                    class="pi pi-angle-double-up"
                ></span>

                <span
                    *ngIf="selectedOption.order === 'desc'"
                    class="pi pi-angle-double-down"
                ></span>
            </div>
        </div>
    </ng-template>

    <ng-template let-option pTemplate="item">
        <div class="flex items-center gap-1">
            {{ option.label }}

            <span
                *ngIf="option.order === 'asc'"
                class="pi pi-angle-double-up"
            ></span>

            <span
                *ngIf="option.order === 'desc'"
                class="pi pi-angle-double-down"
            ></span>
        </div>
    </ng-template>
</p-dropdown>
