<article class="rounded-lg bg-[#64748b] text-white">
    <h3
        class="px-4 py-2 border-b border-white font-bold tracking-wider flex justify-center items-center gap-2"
    >
        <img
            class="w-5 h-5"
            [src]="'https://flagsapi.com/' + location.country + '/flat/64.png'"
        />

        {{ location.name }}
    </h3>

    <ul>
        <li
            [ngClass]="{
                'flex items-center justify-between py-1 px-4': true,
                'bg-[#444d5a]': sortOption === 'aqi'
            }"
        >
            <span>Air Quality Index:</span>
            <span>{{ location.aqi }}</span>
        </li>
        <li
            [ngClass]="{
                'flex items-center justify-between py-1 px-4': true,
                'bg-[#444d5a]': sortOption === 'co'
            }"
        >
            <span>CO:</span>
            <span>{{ location.co }}</span>
        </li>
        <li class="flex items-center justify-between py-1 px-4">
            <span>NO:</span>
            <span>{{ location.no }}</span>
        </li>
        <li class="flex items-center justify-between py-1 px-4">
            <span>NO<sub>2</sub>:</span>
            <span>{{ location.no2 }}</span>
        </li>
        <li class="flex items-center justify-between py-1 px-4">
            <span>O<sub>3</sub></span>
            <span>{{ location.o3 }}</span>
        </li>
        <li class="flex items-center justify-between py-1 px-4">
            <span>SO<sub>2</sub></span>
            <span>{{ location.so2 }}</span>
        </li>

        <li class="flex items-center justify-between py-1 px-4">
            <span>PM<sub>2.5</sub></span>
            <span>{{ location.pm2_5 }}</span>
        </li>
        <li class="flex items-center justify-between py-1 px-4">
            <span>PM<sub>10</sub></span>
            <span>{{ location.pm10 }}</span>
        </li>
        <li class="flex items-center justify-between py-1 px-4">
            <span>NH<sub>3</sub></span>
            <span>{{ location.nh3 }}</span>
        </li>
    </ul>
</article>
