<form [formGroup]="form" (reset)="onReset($event)" (ngSubmit)="onSubmit()">
    <div class="space-y-2">
        <p-autoComplete
            [suggestions]="locations"
            (completeMethod)="onSearch($event)"
            [delay]="500"
            [minLength]="2"
            [multiple]="true"
            formControlName="selectedLocations"
            field="name"
            required
            class="p-fluid"
            styleClass="locations-input"
            placeholder="Enter the cities you want to compare"
        >
            <ng-template let-location pTemplate="item">
                <div>
                    <span>{{ location.name }}, {{ location.country }}</span>
                    <span *ngIf="location.state"> ({{ location.state }})</span>
                </div>
            </ng-template>
        </p-autoComplete>

        <div
            *ngIf="
                selectedLocations?.invalid &&
                (selectedLocations?.dirty || selectedLocations?.touched)
            "
        >
            <div *ngIf="errorMessage" class="flex items-center gap-1">
                <i class="pi pi-exclamation-circle text-rose-400"></i>
                {{ errorMessage }}
            </div>

            <div
                *ngIf="selectedLocations?.errors?.['required']"
                class="flex items-center gap-1"
            >
                <i class="pi pi-exclamation-circle text-rose-400"></i>
                The field is required
            </div>

            <div
                *ngIf="selectedLocations?.errors?.['minlength']"
                class="flex items-center gap-1"
            >
                <i class="pi pi-exclamation-circle text-rose-400"></i>
                Please, select at least
                {{ selectedLocations?.errors?.['minlength']?.requiredLength }}
                locations
            </div>

            <div
                *ngIf="selectedLocations?.errors?.['maxlength']"
                class="flex items-center gap-1"
            >
                <i class="pi pi-exclamation-circle text-rose-400"></i>
                Please, select no more than
                {{ selectedLocations?.errors?.['maxlength']?.requiredLength }}
                locations
            </div>
        </div>
    </div>

    <div class="mt-4 flex flex-col gap-4">
        <p-button
            [disabled]="!form.valid || !form.dirty || isSubmitted"
            type="submit"
            class="p-fluid"
            label="Compare"
        >
        </p-button>

        <p-button
            *ngIf="selectedLocations?.value?.length"
            type="reset"
            label="Reset"
            severity="secondary"
            class="p-fluid"
        >
        </p-button>
    </div>
</form>
